@charset "UTF-8";

h1 {
    color: blue;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}
p {
    background-color: blueviolet;
}